.rec-recipi-list {
  display: inline-block;
  padding-bottom: 15px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  width: 100%;

  .rec-recipi-list-item {
    border: 0;
    display: inline-block;
    float: left;
    height: 284px;
    margin: 0;
    padding-bottom: 11px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 0;
    vertical-align: text-top;
    width: 284px;

    &__image-size-placeholder {
      padding-bottom: 100%;
      position: relative;
    }

    &__image {
      display: block;
      height: 87%;
      padding: 15px;
      position: absolute;
      width: 100%;
    }

    &__tittle {
      margin-left: 15px;
      margin-top: -13px;
    }
	}
}
